@font-face{
    src: url(assets/fonts/Pacifico-Regular.ttf);
    font-family: logo;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#container{
    margin: auto;
    display: flex;
    align-content: center;
    gap: 2px;
    width: 750px;
    height: 530px;
}
.box{
    border-radius: 20px;
    border: 2px black solid;
}

#pic{
    background-image: url(assets/pics/bckgroundpic.jpeg);
    background-size: cover;
    width: 270px;
    height: 528px;
}
#logo{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 30%;
    height: 50px;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.288);
}
#logoname{
    font-family: logo;
}




#form{
    height: 528px;
    flex-grow: 1;
}